<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrorPage</title>
</head>
<body>
    <br /><br />
          <center>
              <h2>@Session["NombreUsuario"]</h2> <h3 class="text-danger"> Usted no esta autorizado para acceder a esta página</h3>
              <br />
              <img src="https://brooksbarn.com/gfx/keine_rechte.png" />
              <br /><br />
              <a href="/" class="btn btn-group-justified">Ir al inicio</a>
          </center>
   
    
</body>
</html>