body {
    padding-top: 80px;
    text-align: center;
}

.formulario {
    margin-top: 40px;
    background-color: #000000;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 6px 6px 1px #893dc2;
}

.formulario h3 {
    background-color: #893dc2;
    width: 95%;
    border-radius: 20px 0px 20px 0px;
    color: black;
}

    .formulario.marca {
        width: 240px;
        height: 230px;
    }

    .formulario.proveedores {
        width: 300px !important;
        height: 300px !important;
    }
    .formulario.usuario {
        width: 400px;
    }
    .formulario.auto{
        width: 350px;
        padding-top: 10px;
    }
    .formulario.auto input, .marca select{
        height: 30px;
        margin-top: -3px;
    }

    .formulario.marca input{
        width: 200px;
    }
    .formulario.usuario input[type="text"], .formulario.usuario input[type="password"],
    .formulario.usuario select {
        width: 200px;
        height: 30px;
    }
    .formulario.proveedores input, .formulario.cliente input {
        width: 240px;
    }
    .formulario label {
        color: #893dc2;
        margin-top: 5px;
    }
    .formulario.marca label {
        padding-bottom: 10px;
    }

    .formulario input[type="submit"] {
        background-color: #893dc2;
        border: #893dc2;
        border-radius: 5px;
        width: 90px;
        margin-top: 15px;
    }
    .formulario.usuario input[type="submit"], .formulario.auto input[type="submit"] {
        margin-bottom: 10px;
    }

.formulario input[type="submit"]:hover {
    border: 1px solid rgb(255 255 255);
}

.inputs {
    margin: 0px auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}
    .inputs .marca {
        margin-right: 36.5px;
       
    }

    .inputs .modelo {
        width: 130px;
        margin-left: 10px;
    }
    .inputs .fecha{
        margin-left: -12px;
    }
    .inputs .motor {
        width: 130px;
        margin-right: 10px;
    }
    .inputs .fecha input{
        width: 142px;
        margin-left: 5px;
    }
    