/*:::::::TABLE:::::::::::*/
body {
    padding-bottom: 50px;
    margin-bottom: 50px;
}
table {
    text-align: center;
    margin-top: 30px;
    width: 100%;
}

    table th, td {
        border: 1px solid #78767B;
        font-weight: bold;
    }

    table th {
        color: white;
    }

    table tbody {
        background-color: #E2E2E2;
    }

    table a {
        cursor: pointer;
    }

table thead {
    background-color: #78767B;
}
/*::::::::BTN EDITAR::::::::::*/
.btn.btn-info{
    margin: 3px;
}
/*:::::::BTN ELIMINAR:::::::*/
.btn.btn-danger {
    margin: 3px;
}
/*::::::BTN AGREGAR::::::::::*/
.agregarBtn {
    margin: 5px;
    background-color: #82E897;
}

.agregarBtn:hover {
    background-color: #5bbe6f;
}

