@using DAL.Models
@model tabMarcas
@{
    ViewBag.Title = "AgregarOEditarMarcas";
}
<link href="~/Content/Diseños/formularios.css" rel="stylesheet" />
        
        @using (Html.BeginForm())
            {
                @Html.HiddenFor(x => x.idMarca);
<div class="formulario marca">
    @if (Model.idMarca > 0)
    {
        <h3>Editar marca</h3>
    }
    else
    {
        <h3>Agregar marca</h3>
    }

    <label>Nombre Marca</label>
    @Html.TextBoxFor(x => x.marca, htmlAttributes: new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.marca, null, htmlAttributes: new { @class = "text-danger" })
    <input type="submit" value="Guardar" />
</div>
            }
