@using DAL.Models
@model tabUsuarios
@{
    ViewBag.Tittle = "Login";
    Layout = null;
}
<link href="~/Content/Diseños/Login.css" rel="stylesheet" />
<link href="~/Content/Diseños/body-color.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    <center> @Html.ValidationSummary()</center>

    <div class="login">
        @Html.AntiForgeryToken()
        <img src="~/Content/Diseños/login.png" />
        <input type="text" name="correo" value="" placeholder="Correo" />
        <input type="text" name="passw" value="" placeholder="Contraseña" />
        <input type="submit" value="Iniciar Sesión" />
    </div>
}