@using DAL.Models;
@model tabClientes
<link href="~/Content/Diseños/formularios.css" rel="stylesheet" />

@using (Html.BeginForm())
{

    @Html.HiddenFor(x => x.rol, new { @class = "form-control", @Value = "2" })
     @Html.HiddenFor(x => x.isActivo, htmlAttributes: new { @Value= true });
<div class="formulario usuario">
    <h3 style="margin-top: 10px">Registrarse</h3>

    @Html.Partial("_ParcialFormularioRegistrarse")
    <input type="submit" value="Guardar" />
</div>
}
