@using DAL.Models;
@model tabClientes
@{
    ViewBag.Title = "AgregarClientes";
}
<link href="~/Content/Diseños/formularios.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.idCliente)
    @Html.HiddenFor(x => x.rol, new { @class = "form-control", @Value = "2" })
<div class="formulario cliente">
    @if (Model.idCliente > 0)
    {
        <h3>Editar cliente</h3>
    }
    else
    {
        <h3>Agregar cliente</h3>
    }
    @Html.Partial("_ParcialFormularioRegistrarse")

</div>
}
